- lesson ||= @lesson

Mérés jegy
= form_for lesson do |f|
  - (1..5).each do |g|
    #{g}
    = f.radio_button :grade, g

  - if lesson.finalized_at
    = f.submit 'Mentés', disabled: true
  - else
    = f.submit 'Mentés'
