%h1 Hallgatók

%table.table.table-striped
  - @lessons.each do |lesson|
    %tr{'data-student-id' => "#{lesson.id}"}
      %td #{lesson.student.name}
      %td= link_to 'Jegyzőkönyv letöltése', '#'
      %td= link_to 'Megjegyzések', lesson_comments_path(lesson.id)

      - if lesson.exam
        %td= render :partial => 'lessons/grade', :locals => {:lesson => lesson}
        %td= button_to 'Véglegesítés', lesson_path(lesson, :finalize => true), :method => :put if lesson.finalized_at.nil?

        %td= render :partial => 'exams/grade', :locals => {:exam => lesson.exam}
        %td= button_to 'Véglegesítés', exam_path(lesson.exam, :finalize => true), :method => :put if lesson.exam.finalized_at.nil?
