%h1 Mérések

%table.table.table-striped
  - @lessons.each do |lesson|
    %tr{'data-lesson-id' => "#{lesson.id}"}
      %td= lesson
      %td="Mérés jegy: #{lesson.grade if lesson.finalized_at}"
      %td= "Beugró jegy: #{lesson.exam.grade if lesson.exam and lesson.exam.finalized_at}"
      %td= "Jegyzőkönyv jegy: #{lesson.exercises.last.grade if lesson.exercises.last and lesson.exercises.last.finalized_at}"
      %td= link_to 'Jegyzőkönyv', lesson_exercises_path(lesson.id)
      %td= link_to 'Megjegyzések', lesson_comments_path(lesson.id)

