- exam ||= @exam

Beugró jegy
= form_for exam do |f|
  - (1..5).each do |g|
    #{g}
    = f.radio_button :grade, g

  - if exam.finalized_at
    = f.submit 'Mentés', disabled: true
  - else
    = f.submit 'Mentés'
