<!DOCTYPE html>
<html>
<head>
  <title>Rize</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= render template: 'layouts/menu' %>
<% end %>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
