.navbar
  .navbar-inner
    %a.brand{:href => root_path} Rize
    %ul.nav
      %li.active
        = link_to 'Mérések', lessons_path
      %li
        %a{:href => "#"} Hírek
    .right.role
      #{current_user.roles.first.name}
    .btn-group.right
      %a.btn.dropdown-toggle{ "data-toggle" => "dropdown" }
        #{current_user.email}
        %span.caret
      %ul.dropdown-menu
        %li
          %a Reset password
          %a Resend confirmation e-mail
          = link_to 'Logout', destroy_user_session_path, method: 'delete'

